.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	overflow: auto;
  width: 100%;
  height: 100%;
}

.header {
	text-align: left;
}

.header img {
	width: 130px;
	margin: 20px 10px 0px 70px;
}

.image {
	text-align: center;
}

.image img {
	width: 400px;
}

.content {
	margin-top: 30px;
	font-size: 14px;
	font-weight: 400;
}

.content span {
	font-weight: 600;
	color: #3E81ED;
}

.content a {
	font-weight: 600;
	color: #3E81ED;
}

.content a:hover {
	color: #3477e2;
} 

.content p {
	margin-top: 5px;
}

.content button {
	margin-top: 20px;
}

.btn {
	cursor: pointer;
	border: none;
	background-color: #3E81ED;
	color: white;
	padding: 8px 25px;
	font-weight: 600;
	border-radius: 3px;
}

.btn:hover {
	background-color: #3477e2;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 10px 75px 50px 75px;
}

.copyright {
	font-size: 12px;
	margin-top: 7px;
}

.info {
	cursor: pointer;
	width: 25px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff; 
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0; 
}